@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --Red: hsl(0, 100%, 74%) ;
    --Green: hsl(154, 59%, 51%);
    --Blue:hsl(256, 81%, 54%);
   
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,html{
    line-height: 1.6;
    width: 100%;
   height: 100vh;
    background-color: var(--Red);
    background-image: url(/images/bg-intro-mobile.png);
    color: white;
    font-family: poppins,Arial, Helvetica, sans-serif;
    
    
}

img{
    max-width: 100% ;
 }

h1{
  
    font-weight: 700;
  
}

h2{
   
    font-weight: 600;
}

h3{

    font-weight: 500;
}

h5{
    font-weight: 400;
    
}
.hidden{
    display: none;
}
   
.container{
    font-size: 1.01em;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 0 35px;
    text-align: center;
   width: 100%;
   margin: 50px auto;
}

/* header text */
    .headerText{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
margin: 80px 40px;
    }

  
/* try free button */

.tryFreeButton{
    color: white;
    background-color: var(--Blue);
   border-style: none;
   border-radius: 10px;
   margin-bottom: 30px;
   padding: 30px;
   width: 100%;
   box-shadow: rgba(0, 0, 0, 0.123) 1px 8px ;
}



.tryFreeButton h5 span{
    font-weight: bold;
}

 /* // */

 /* form */

.form{
    color: black;
    background-color: white;
    margin-bottom: 40px;
   display: flex;
   flex-direction: column;
   border-radius: 10px;
   padding: 20px;
   gap: 15px;
}

.div{
    display: flex;
    flex-direction: column;

}
.forminput{
    
    border: rgba(0, 0, 0, 0.151) solid 2px;
    padding: 15px;
    font-weight: bold;
    border-radius: 5px;
display: hidden;
}
.warning{
    font-size: 10px;
    color: var(--Red);
    padding-top: 5px;
    text-align: end;

    
}



.claim{
    cursor: pointer;
background-color: var(--Green);
color: white;
text-transform: uppercase;
border-style: none;
border-radius: 10px;
padding: 20px;
box-shadow: rgba(0, 0, 0, 0.123) 1px 5px ;

}
.claim:hover{
    background-color: hsla(154, 59%, 51%, 0.418);
}

.form p{
    font-size: 10px;
    padding: 10px;
    color: rgba(73, 70, 70, 0.479);
}

.form p span{
    color: var(--Red);
    font-weight: bold;
}

.inputError{
    border: rgba(238, 8, 8, 0.623) solid 2px;
    padding: 15px;
    background: url(/images/icon-error.svg) no-repeat  ;
    background-position:  right  ;
    font-weight: bold;
    border-radius: 5px;

}
.inputError::placeholder{
color: white;
}

.inputError.email::placeholder{
color: rgba(238, 8, 8, 0.623);
}

/* desktop */
@media  (min-width:700px)  { 
body{
    background-image: url(/images/bg-intro-desktop.png);

}
   
    .container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
       gap: 76px;
    
       
    }
    
    /* header text */
        .headerText{
            font-size: 1.5em;
            align-items: flex-start;
         text-align: left;
    
        }
    
      
        
     /* form */
    
    
    .form{
       
    width: 500px;
    }
    

   
    
   

    .error{
        color: red;
       
    }


   
    
    
    }
